@model FoodTrucksMenus.Models.AddOrEditMenu

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear Menu</h2>
<div class="text-success">
    <p>
        @ViewBag.Message
    </p>
</div>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Branches" />
            <input type="hidden" asp-for="Categories" />
            <partial name="_AddOrEditMenu" />
            
            <div class="form-group mt-2">
                <input type="submit" value="Registrar" class="btn btn-outline-secondary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
