@model FoodTrucksMenus.Data.Entities.Category

@{
    ViewData["Title"] = "Create";
}

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameCat" class="control-label"></label>
                <input asp-for="NameCat" class="form-control" />
                <span asp-validation-for="NameCat" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-warning">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
