@model FoodTrucksMenus.Data.Entities.Category

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameCat" class="control-label"></label>
                <input asp-for="NameCat" class="form-control" />
                <span asp-validation-for="NameCat" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Editar" class="btn btn-outline-secondary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
