@model FoodTrucksMenus.Data.Entities.Branch
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <dl>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.TablesNumbers)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.TablesNumbers)
                </dd>
            </dl>
        </div>
        <div class="col">
            <dl>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.GetOccupied)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.GetOccupied)
                </dd>
            </dl>
        </div>
    </div>
</div>